<section id="covers">
    <div>
     <h2 class="visually-hidden">Covers</h2>
     <div class="content">
         <div class="marquee">
         <div class="marquee__inner">
             <img class="marquee_6" src="../img/covers/covers6.jpg" alt="covers6" >
             <img class="marquee_1" src="../img/covers/covers1.jpg" alt="covers1" >
             <img class="marquee_2" src="../img/covers/covers2.jpg" alt="covers2" >
             <img class="marquee_5" src="../img/covers/covers5.jpg" alt="covers5" >
             <img class="marquee_10" src="../img/covers/covers10.jpg" alt="covers10">
             <img class="marquee_3" src="../img/covers/covers3.jpg" alt="covers3">
             <img class="marquee_4" src="../img/covers/covers4.jpg" alt="covers4">
             <img class="marquee_7" src="../img/covers/covers7.jpg" alt="covers7"> 
             <img class="marquee_8" src="../img/covers/covers8.jpg" alt="covers8">
             <img class="marquee_9" src="../img/covers/covers9.jpg" alt="covers6">
         </div>
       </div>
       </div>  
    </div>
 
 </section>